
body {
    
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}



form.container {
    max-width: 600px;       
    margin-top: 50px;
    
    background: rgba(255, 255, 255, 0.25); /* transparent glass */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    box-shadow:
        0 8px 32px rgba(31, 38, 135, 0.37),   /* blue shadow */
        inset 0 1px 1px rgba(255, 255, 255, 0.4); /* inner shine */

    padding: 20px;
    color: #000;
}



form .col-md-6,
form .col-12 {
    width: 100%;
}


form .btn {
    display: block;
    margin: 0 auto;
    background-color: #59bd84;   /* very light green */
    color: #e4ede8;              /* soft dark green text */

    border: 1px solid #ccebdc;
    border-radius: 10px;

    padding: 10px 26px;
    font-size: 1rem;
    font-weight: 500;

    cursor: pointer;
    transition: all 0.25s ease;

    box-shadow:
        0 4px 12px rgba(46, 125, 90, 0.15);
}
form .btn:active {
    transform: scale(0.97);
    box-shadow:
        0 3px 8px rgba(46, 125, 90, 0.2);
}
/* form .btn:hover {
    background-color: #dff3e8;
    box-shadow:
        0 6px 16px rgba(46, 125, 90, 0.25);
    transform: translateY(-1px);
} */




.text {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 15px rgba(180, 120, 255, 0.6);
    letter-spacing: 1px;
    margin-bottom: 20px;
}

